extends includes/layout

block variables
  - currentPage = "contribute";
  - currentUrl = pages.contribute.baseUrl;

append scripts
  include includes/meta-tags
  +javascript("https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js")

block metatags
  include includes/meta-tags
  +meta-open_graph(pages.contribute.og.title, pages.contribute.og.description, baseUrl + pages.contribute.baseUrl, "/assets/img/game_dev.svg")


block content
  .container.section-subscribe
    .row
      .col-xs-12

        form#form-setup-acc.subscribe-form

          ul#progress-bar
            li.active!= strings.contribute.progress_bar.step_1
            li!= strings.contribute.progress_bar.step_2
            li!= strings.contribute.progress_bar.step_3
            li!= strings.contribute.progress_bar.step_4
            li!= strings.contribute.progress_bar.step_5

          fieldset
            h2.fs-title!= strings.contribute.account_setup.title
            h3.fs-subtitle!= strings.contribute.account_setup.subtitle
            h3.fs-error

            .form-group
              input(type="text" name="username" placeholder= strings.contribute.account_setup.username).input-username
              span.helper.input-username-help
            .form-group
              input(type="text" name="email" placeholder= strings.contribute.account_setup.email).input-email
              span.helper.input-email-help
            .form-group
              input(type="password" name="password" placeholder= strings.contribute.account_setup.password).input-password
              span.helper.input-password-help

            input(type="submit" name="submit" value= strings.contribute.account_setup.create).next.action-button
            i(style="display: none;").fa.fa-spinner.fa-spin.input-loading

        form(style="display:none;")#form-verify-email.subscribe-form

          ul#progress-bar
            li.active!= strings.contribute.progress_bar.step_1
            li.active!= strings.contribute.progress_bar.step_2
            li!= strings.contribute.progress_bar.step_3
            li!= strings.contribute.progress_bar.step_4
            li!= strings.contribute.progress_bar.step_5

          fieldset
            h2.fs-title!= strings.contribute.verify_email.title
            h3.fs-subtitle!= strings.contribute.verify_email.subtitle
            h3.fs-error

            .form-group
              input(type="text" name="email-code" placeholder= strings.contribute.verify_email.email_code).input-email-code
              span.helper.input-email-code

            input(type="submit" name="submit" value= strings.contribute.verify_email.activate).next.action-button
            i(style="display: none;").fa.fa-spinner.fa-spin.input-loading


        form(style="display: none;")#form-select-contrib.subscribe-form

          ul#progress-bar
            li.active!= strings.contribute.progress_bar.step_1
            li.active!= strings.contribute.progress_bar.step_2
            li.active!= strings.contribute.progress_bar.step_3
            li!= strings.contribute.progress_bar.step_4
            li!= strings.contribute.progress_bar.step_5

          fieldset
            h2.fs-title!= strings.contribute.select_team.title
            h3.fs-subtitle!= strings.contribute.select_team.subtitle
            h3.fs-subtitle.no-margin!= strings.contribute.select_team.subtle_margin
            h3.fs-error

            .team-selector
              .row
                +team('dev', strings.contribute.select_team.dev, 'code')
                +team('art', strings.contribute.select_team.art, 'paint-brush')
                +team('mgt', strings.contribute.select_team.mgt, 'tags')
                +team('gd', strings.contribute.select_team.gd, 'lightbulb-o')
              .row
                +team('translation', strings.contribute.select_team.translation, 'language')
                +team('patron', strings.contribute.select_team.patron, 'tag')
                +team('student', strings.contribute.select_team.student, 'mortar-board')
                +team('gamer', strings.contribute.select_team.gamer, 'gamepad')

            input(type="submit" name="submit" value= strings.contribute.select_team.ready).next.action-button.disabled
            i(style="display: none;").fa.fa-spinner.fa-spin.input-loading


        form(style="display: none;")#form-select-tasks.subscribe-form

          ul#progress-bar
            li.active!= strings.contribute.progress_bar.step_1
            li.active!= strings.contribute.progress_bar.step_2
            li.active!= strings.contribute.progress_bar.step_3
            li.active!= strings.contribute.progress_bar.step_4
            li!= strings.contribute.progress_bar.step_5

          fieldset
            h2.fs-title!= strings.contribute.contribution_tasks.title
            h3.fs-subtitle!= strings.contribute.contribution_tasks.subtitle
            h3.fs-subtitle.no-margin!= strings.contribute.contribution_tasks.subtitle_margin
            h3.fs-subtitle.no-margin!= strings.contribute.contribution_tasks.subtitle_margin2
            h3.fs-error

            .task-selector
              #dev
                a#cat-dev(href="#").category
                  p!= strings.contribute.contribution_tasks.dev_team
                    i.fa.fa-chevron-down.category-icon
                #tasks-dev
                  h1!= strings.contribute.contribution_tasks.actions
                  .row
                    +task('submit-patches', strings.contribute.contribution_tasks.patches, 'code-fork')
                    +task('review-code', strings.contribute.contribution_tasks.code, 'search')
                    +task('write-tests', strings.contribute.contribution_tasks.tests, 'bullseye')
                    +task('write-docs', strings.contribute.contribution_tasks.docs, 'book')
                  h1 Tags
                  h2 Workflow
                  .row
                    +task('tag-todo', 'TODO', 'tag')
                    +task('tag-waitingreview', 'WaitingReview', 'tag')
                    +task('tag-bug', 'Bug', 'tag')
                    +task('tag-discussion', 'Discussion', 'tag')

                  h2!= strings.contribute.contribution_tasks.langs
                  .row
                    +task('tag-elixir', 'Elixir', 'tag')
                    +task('tag-python', 'Python', 'tag')
                    +task('tag-elm', 'Elm', 'tag')
                    +task('tag-fs', 'F#', 'tag')
                  .row
                    +task('tag-javascript', 'Javascript', 'tag')
                    +task('tag-php', 'PHP', 'tag')

                  h2= strings.contribute.contribution_tasks.areas
                  .row
                    +task('tag-frontend', 'Frontend', 'tag')
                    +task('tag-backend', 'Backend', 'tag')
                    +task('tag-infrastructure', strings.contribute.contribution_tasks.infra, 'tag')
                    +task('tag-security', strings.contribute.contribution_tasks.sec, 'tag')
                  .row
                    +task('tag-optimization', strings.contribute.contribution_tasks.opt, 'tag')
                    +task('tag-ai', strings.contribute.contribution_tasks.ai, 'tag')
                    +task('tag-network', strings.contribute.contribution_tasks.net, 'tag')
                    +task('tag-databases', strings.contribute.contribution_tasks.dbs, 'tag')
                  .row
                    +task('tag-pm', strings.contribute.contribution_tasks.project, 'tag')
                    +task('tag-linux', 'Linux', 'tag')
                    +task('tag-ios', 'iOS', 'tag')
                    +task('tag-android', 'Android', 'tag')

                  h2= strings.contribute.contribution_tasks.game_software
                  .row
                    +task('tag-core', 'Core', 'tag')
                    +task('tag-mobile', 'Mobile', 'tag')
                    +task('tag-web', 'Web', 'tag')
                    +task('tag-terminal', 'Terminal', 'tag')

                  h2= strings.contribute.contribution_tasks.stack
                  .row
                    +task('tag-aerospike', 'Aerospike', 'tag')
                    +task('tag-consul', 'Consul', 'tag')
                    +task('tag-elastic', 'Elastic', 'tag')
                    +task('tag-docker', 'Docker', 'tag')
                  .row
                    +task('tag-kafka', 'Apache Kafka', 'tag')
                    +task('tag-samza', 'Apache Samza', 'tag')
                    +task('tag-nginx', 'nginx', 'tag')
                    +task('tag-haproxy', 'HAproxy', 'tag')
                  .row
                    +task('tag-mnesia', 'Mnesia', 'tag')
                    +task('tag-phabricator', 'Phabricator', 'tag')
                    +task('tag-postgresql', 'PostgreSQL', 'tag')
                    +task('tag-postgis', 'PostGIS', 'tag')
              #art
                a#cat-art(href="#").category
                  p= strings.contribute.contribution_tasks.design_art
                    i.fa.fa-chevron-down.category-icon
                #tasks-art
                  h1!= strings.contribute.contribution_tasks.actions
                  .row
                    +task('discuss-ui', strings.contribute.contribution_tasks.discuss_ui, 'comments')
                    +task('design-ui', strings.contribute.contribution_tasks.design_ui, 'paint-brush')
                    +task('create-assets', strings.contribute.contribution_tasks.assets, 'image')
                    +task('review-ux', strings.contribute.contribution_tasks.rev_ux, 'dashboard')
                  h1 Tags
                  .row
                    +task('tag-design', 'Design', 'tag')
                    +task('tag-mobileui', 'InterfaceMobile', 'tag')
                    +task('tag-webui', 'InterfaceWeb', 'tag')
                    +task('tag-terminalui', 'InterfaceTerminal', 'tag')
                  .row
                    +task('tag-designdiscussion', 'DesignDiscussion', 'tag')
                    +task('tag-designsuggestion', 'DesignSuggestion', 'tag')
                    +task('tag-designfeedback', 'DesignFeedback', 'tag')
                    +task('tag-ux', 'UX', 'tag')
              #gd
                a#cat-gd(href="#").category
                  p= strings.contribute.contribution_tasks.gd_team
                    i.fa.fa-chevron-down.category-icon
                #tasks-gd
                  h1= strings.contribute.contribution_tasks.actions
                  .row
                    +task('discuss-features', strings.contribute.contribution_tasks.features, 'comments')
                    +task('study-game', strings.contribute.contribution_tasks.study_game, 'map')
                    +task('balance', strings.contribute.contribution_tasks.balance, 'balance-scale')
                    +task('design-story', strings.contribute.contribution_tasks.story, 'pencil')
                  h1 Tags
                  .row
                    +task('tag-storyline', 'Storyline', 'tag')
                    +task('tag-gamemechanic', 'GameMechanic', 'tag')
                    +task('tag-gamedesign', 'GameDesign', 'tag')
                    +task('tag-heep-gd', 'HEEP-GD', 'tag')
                  .row
                    +task('tag-feature', 'Feature', 'tag')
                    +task('tag-featurerequest', 'FeatureRequest', 'tag')
              #mgt
                a#cat-mgt(href="#").category
                  p= strings.contribute.contribution_tasks.community
                    i.fa.fa-chevron-down.category-icon
                #tasks-mgt
                  h1= strings.contribute.contribution_tasks.actions
                  .row
                    +task('triage-tasks', strings.contribute.contribution_tasks.tasks, 'folder-open')
                    +task('guide-users', strings.contribute.contribution_tasks.guide, 'map-signs')
                    +task('curate-content', strings.contribute.contribution_tasks.content, 'file-text')
                    +task('report', strings.contribute.contribution_tasks.report, 'legal')
                  h1 Tags
                  .row
                    +task('tag-report', 'Report', 'tag')
                    +task('tag-meta', 'Meta', 'tag')
                    +task('tag-community', 'Community', 'tag')
              #translation
                a#cat-translation(href="#").category
                  p= strings.contribute.contribution_tasks.translation
                    i.fa.fa-chevron-down.category-icon
                #tasks-translation
                  h1= strings.contribute.contribution_tasks.actions
                  .row
                    +task('translate-text', strings.contribute.contribution_tasks.translate, 'language')
                    +task('improve-text', strings.contribute.contribution_tasks.improve, 'paragraph')
                    +task('fix-typos', strings.contribute.contribution_tasks.typos, 'strikethrough')
                  h1 Tags
                  .row
                    +task('tag-typos', 'Typos', 'tag')
                    +task('tag-translationrequest', 'TranslationRequest', 'tag')

              #patron
                a#cat-patron(href="#").category
                  p= strings.contribute.contribution_tasks.patron
                    i.fa.fa-chevron-down.category-icon
                #tasks-patron
                  h1= strings.contribute.contribution_tasks.actions
                  .row
                    +task('spread', strings.contribute.contribution_tasks.spread, 'bullhorn')
                    +task('preorder', strings.contribute.contribution_tasks.preorder, 'gift')
                    +task('rate-review', strings.contribute.contribution_tasks.rate, 'thumbs-up')
                    +task('invest', strings.contribute.contribution_tasks.invest, 'rocket')

              #student
                a#cat-student(href="#").category
                  p= strings.contribute.contribution_tasks.mentor
                    i.fa.fa-chevron-down.category-icon
                #tasks-student
                  h1= strings.contribute.contribution_tasks.actions
                  .row
                    +task('follow-topics', strings.contribute.contribution_tasks.topics, 'rss')
                    +task('learn-code', strings.contribute.contribution_tasks.learn, 'road')
                    +task('study-group', strings.contribute.contribution_tasks.study, 'group')
                    +task('share-knowledge', strings.contribute.contribution_tasks.share, 'exchange')
                  .row
                    +task('adopt-student', strings.contribute.contribution_tasks.adopt, 'heart')
                    +task('answer-guide', strings.contribute.contribution_tasks.answer, 'support')
                  h1 Tags
                  .row
                    +task('tag-question', 'Question', 'tag')
                    +task('tag-resource', 'Resource', 'tag')
                    +task('tag-tutorial', 'Tutorial', 'tag')
                    +task('tag-advice', 'Advice', 'tag')
                  .row
                    +task('tag-studygroup', 'StudyGroup', 'tag')
                    +task('tag-seekingmentor', 'SeekingMentor', 'tag')
                    +task('tag-seekingstudent', 'SeekingStudent', 'tag')

              #gamer
                a#cat-gamer(href="#").category
                  p= strings.contribute.contribution_tasks.gamer_team
                    i.fa.fa-chevron-down.category-icon
                #tasks-gamer
                  h1= strings.contribute.contribution_tasks.actions
                  .row
                    +task('play', strings.contribute.contribution_tasks.plat, 'gamepad')
                    +task('become-tester', strings.contribute.contribution_tasks.tester, 'flask')
                    +task('submit-ideas', strings.contribute.contribution_tasks.ideas, 'lightbulb-o')
                    +task('report-bugs', strings.contribute.contribution_tasks.bugs, 'bug')

              #other
                a#cat-other(href="#").category
                  p= strings.contribute.contribution_tasks.misc
                    i.fa.fa-chevron-down.category-icon
                #tasks-other
                  h1= strings.contribute.contribution_tasks.actions
                  .row
                    +task('music', strings.contribute.contribution_tasks.music, 'music')
                    +task('offer-service', strings.contribute.contribution_tasks.offer, 'suitcase')
                  h1 Tags
                  .row
                    +task('tag-marketing', 'Marketing', 'tag')
                    +task('tag-legal', 'Legal', 'tag')
                    +task('tag-social-media', 'Social Media', 'tag')
                    +task('tag-crm', 'CRM', 'tag')
                  .row
                    +task('tag-soundtrack', 'Soundtrack', 'tag')
                  h2= strings.contribute.contribution_tasks.suggest
                  .row
                    .col-xs-12
                      input#custom-actions(type="text" name="custom-actions")

            input(type="submit" name="submit" value= strings.contribute.contribution_tasks.lets).next.action-button
            i(style="display: none;").fa.fa-spinner.fa-spin.input-loading

        form(style="display: none;")#form-select-preferences.subscribe-form

          ul#progress-bar
            li.active!= strings.contribute.progress_bar.step_1
            li.active!= strings.contribute.progress_bar.step_2
            li.active!= strings.contribute.progress_bar.step_3
            li.active!= strings.contribute.progress_bar.step_4
            li.active!= strings.contribute.progress_bar.step_5

          fieldset
            h2.fs-title!= strings.contribute.notification.title
            h3.fs-subtitle!= strings.contribute.notification.subtitle
            h3.fs-subtitle.no-margin!= strings.contribute.notification.subtitle_margin
            h3.fs-subtitle.no-margin!= strings.contribute.notification.subtitle_margin2
            h3.fs-error

            .form-group
              label(for="email-frequency").col-sm-2.control-label= strings.contribute.notification.frequency

              .col-sm-10
                select(name="email-frequency" autocomplete="off").form-control.email-frequency
                  option(value="0")!= strings.contribute.notification.never
                  option(value="1x1")!= strings.contribute.notification.once_day
                  option(value="2x7" selected="selected")!= strings.contribute.notification.twice_week
                  option(value="1x7")!= strings.contribute.notification.once_week
                  option(value="2x30")!= strings.contribute.notification.twice_month
                  option(value="1x30")!= strings.contribute.notification.once_month
                span.helper.input-email-code

              span.help-block!= strings.contribute.notification.help

            .form-group

              label(for="email-frequency").col-sm-2.control-label!= strings.contribute.notification.notifications

              .col-sm-10
                label.checkbox-group
                  input(type="checkbox" value="important_updates").notification-input 
                  span!= strings.contribute.notification.updates
                label.checkbox-group
                  input(type="checkbox" value="step4_starts").notification-input
                  span!= strings.contribute.notification.step4_starts
                label.checkbox-group
                  input(type="checkbox" value="game_released" checked="checked" autocomplete="off").notification-input
                  span= strings.contribute.notification.game_released

            input(type="submit" name="submit" value="Finish setup").next.action-button
            i(style="display: none;").fa.fa-spinner.fa-spin.input-loading


        form(style="display: none;")#form-done.subscribe-form

          ul#progress-bar
            li.active Account setup
            li.active Verify email
            li.active Select team
            li.active Select tasks
            li.active Preferences

          fieldset
            h2.fs-title Welcome aboard!
            h3.fs-subtitle Thank you for your interest on being part of this journey!
            h3.fs-subtitle.no-margin Soon we will contact you with a description of how to help on each of the actions you've selected.
            h3.fs-subtitle.no-margin We will also send relevant discussions related to your tasks, according to your notification preferences.

            a(href="https://dev.hackerexperience.com")
              button.next.action-button.action-button-big Go to Development Center
            a(href="https://hackerexperience.com")
              button.next.action-button.action-button-big Go to Hacker Experience
            a(href="https://letsbuildagame.org")
              button.next.action-button Go back

mixin tooltip-span(text)
  span(data-hint= text).hint--large.tooltip-span
    if block
      block

mixin label-selected
  span(title="").label.label-check.fa.fa-check

mixin label-unselected
  span(title="").label.label-check.fa  

mixin tooltip-submit-patches

mixin task(task_id, name, icon)
  - var div_id = 'task-' + task_id

  .col-xs-3
    +tooltip-span(tooltips.tasks[task_id])
      div(id="#{div_id}").task
        .col-xs-2
          i(class="fa fa-" + icon)
        .col-xs-9
          span.task-name= name
      span.error-helper 

mixin team(team_id, name, icon)
  - var div_id = 'team-' + team_id
  .col-xs-3
    +tooltip-span(tooltips.teams[team_id])
      div(id="#{div_id}").team        
          i(class="fa fa-" + icon)
          h1= name
